main > .container {
  padding: 20px 15px 0;
  margin-top: 40px;
  margin-bottom: 5rem;
}

main > .container-fluid {
  padding-top: 60px;
}
main > .container-xxl {
  padding-top: 60px;
}

main > .container-form {
  padding-bottom: 20px;
}

body > main {
  margin-top: 20px;
  margin-bottom: 60px;
}

.bgGradient {
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.address {
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .address {
    font-size: 1rem;
  }
}

@media print {
  .address {
    font-size: 1rem;
  }
}

.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

.homeBG {
  width: 100%;
  background: url("/img/GridBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* CSS for font provided by TypeKit */

.homeText {
  font-family: modesto-open-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(195, 255, 0);
}

/* Class to expand container regardless of content */
.minHeight {
  min-height: 80vh;
}
